@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');


*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);;
  font-family: 'Inter', sans-serif;
  color: white;
  
}

.App {
  text-align: center;
  margin: 0 auto;
  margin-top: 100px;
}

.weather-app{
  padding: 35px 0;
  text-align: center;
  margin: 0 auto;
  background-color: white;
  width: 300px;
  border-radius: 5%;
  background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
  box-shadow: 0px 10px 14px -7px rgba(0,0,0,0.5);
}

.weather-app p{
  margin: 10px 0;
}

.weather-app h1{
  font-size: 12px;
  font-weight: 300;
}

.weather-app h2{
  font-size: 25px;
  font-weight: 500;
  
}


.sectioneOne{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  
}


.sectioneOne p{
  
  font-size: 30px;
  font-weight: 300;
}

button{

  box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	padding:5px 15px;
  border: none;
	margin-top: 20px;
	
}

Button:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
Button:active {
	position:relative;
	top:1px;
}

footer{
  display: flex;
  justify-content: center;
  margin-top: 130px;
  color: #3a47d5;
}